

		<h3>{{item_Name}} List</h3>
        <div class="row" style="margin-bottom:30px;">
                <div class="col-md-8 col-lg-8"></div>
                <div class="col-md-2 col-lg-2">
                    <input type="{{item_name}}_name" class="input_{{item_type}}name" placeholder="{{item_type}}name">
                </div>
                <div class="col-md-2 col-lg-2">
                    <button type="button" class="set_role add_{{item_name}} btn btn-primary">Add {{item_Name}}</button>
                </div>
        </div><!--end for row-->


        <div class="row" style="margin-bottom:300px;">
            <div class="col-md-4"></div>
            <table class="table col-md-4">
                <thead>
                    <tr>
                        <th scope="row">{{item_type}} id</th>
                        <th>{{item_type}} name</th>
                        <th></th>
                    <tr>
                </thead>
                <tbody class="item_list">
                    {% for item in item_list %}
                    <tr class="item_list_record"  data-id="{{item.id}}" data-name="{{item.username}}">
                        <td class="item_id">{{ item.id }}</td>
                        <td class="item_name">{{ item.username }}</td>
                        <td><button type="button" class="delete btn btn-info">x</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <div class="col-md-4"></div>
        </div><!--end for row-->
