<html>

<head>

	<title>Course Info</title>
    <meta charset="utf-8">


    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    

</head>


<body>
	<!--navigation bar-->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">HomePage</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/user_admin">User Admin</a>
                    </li>
                    <li>
                        <a href="/course_admin">Course Admin</a>
                    </li>
                    <li>
                        <a href="/role_admin">Role Admin</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>	



	
    <div class="container"  style="margin-top:80px;">

		<h1>{{c_name}}</h1>
        <div class="row" style="margin-bottom:30px;">
                <div class="col-md-8 col-lg-6"></div>
                <div class="col-md-2 col-lg-4">
                    <input type="teacher_name" class="input_username" placeholder="User Name">
                </div>
                <div class="col-md-2 col-lg-2">
                    <button type="button" class="set_role add_teacher btn btn-primary">Add Teacher</button>
                </div>
        </div><!--end for row-->


        <div class="row" style="margin-bottom:80px;">
            <div class="col-md-4"></div>
            <table class="table col-md-4">
                <thead>
                    <tr>
                        <th scope="row">user id</th>
                        <th>username</th>
                        <th></th>
                    <tr>
                </thead>
                <tbody class="teacher_list">
                    {% for teacher in teacher_list %}
                    <tr class="teacher_list_record">
                        <td class="teacher_id">{{ teacher.id }}</td>
                        <td>{{ teacher.name }}</td>
                        <td><button type="button" class="delete btn btn-info">x</button></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <div class="col-md-4"></div>
        </div><!--end for row-->



	</div>


	<script>
		var c_id = {{c_id}};
		console.log('c_id',c_id);

		$('.set_role').on('click',function(){
			var username = $(this).parent().prev().children('.input_username').val();				
			var r_id = 0;
            console.log('input username:  ',username);

            if(username){
                // user name is not empty
				if( $(this).hasClass('add_teacher')){
					r_id = 1;
				}

                $.ajax({
                        url: '/set_role',
                        type:'POST',
                        data: {username:username, r_id:r_id, c_id:c_id},
                        success:function(response){

                        },
                        error: function(error){
                            console.log(error);
                        }
                });
                
            }else{
                //user name is emtpy
                console.log('user name is empty');

            }
	
		});


	</script>


</body>
</html>




