<html>

<head>

	<title>
		{% if c_name %}
			{{c_name}}
		{% else %}
			Course
		{% endif %}
			Info
	</title>
    <meta charset="utf-8">


    {% include "resource.html" %}

	<style>
		.course_name {
			margin-bottom:80px;
		}	
	</style>


</head>


<body>
    {% include "nav.html" %}

    <div class="container"  style="margin-top:80px;">

		<h1 class="course_name">{{ c_name | title }}</h1>
        {% with 
            item_Name='Teacher', 
            item_name='teacher',
            item_type='user' , 
            item_list=teacher_list 
        %}
        {% include "course_role_list.html" %}
        {% endwith %}

        {% with 
            item_Name='TA', 
            item_name='ta',
            item_type='user' , 
            item_list=TA_list 
        %}
        {% include "course_role_list.html" %}
        {% endwith %}

        {% with 
            item_Name='Student', 
            item_name='student',
            item_type='user' , 
            item_list=student_list 
        %}
        {% include "course_role_list.html" %}
        {% endwith %}

	</div>


	<script>
		var c_id = {{c_id}};
		console.log('c_id',c_id);

		$('.set_role').on('click',function(){
			var username = $(this).parent().prev().children('.input_username').val();				
			var r_id = 0;
            console.log('input username:  ',username);

            if(username){
                // user name is not empty
				if( $(this).hasClass('add_teacher')){
					r_id = 1;
				}else if( $(this).hasClass('add_ta') ){
                    r_id = 2;
                }else if( $(this).hasClass('add_student') ){
                    r_id = 3;
                }

                $.ajax({
                        url: '/set_role',
                        type:'POST',
                        data: {username:username, r_id:r_id, c_id:c_id},
                        success:function(response){
							window.location.reload(true);
                        },
                        error: function(error){
                            console.log(error);
                        }
                });
                
            }else{
                //user name is emtpy
                console.log('user name is empty');

            }
	
		});

        $('.delete').on('click', function(){
                var u_id = $(this).parent().parent().children('.item_id').html();
                console.log('u_id  ', u_id);
                $.ajax({
                        url: '/remove_user_from_course',
                        type:'POST',
                        data: {u_id:u_id, c_id:c_id},
                });
                $(this).parent().parent().remove();

        });

        $('.item_list_record > .item_id, .item_list_record > .item_name').on('click', function(){
            var u_id = $(this).parent().attr('data-id');
            var u_name = $(this).parent().attr('data-name');
            console.log('u_id', u_id);
            $.ajax({
                    url: '/get_user_info',
                    type:'POST',
                    data: {u_id:u_id},
                    success: function(response){
                        window.location = '/user_info/'+u_name;
                    },
                    error: function(error){
                        console.log('error ', error);   
                    }
            });
            
    
        });



	</script>


</body>
</html>




