<html>

<head>

	<title>Course List</title>
    <meta charset="utf-8">


    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>


<body>
	<!--navigation bar-->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">HomePage</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/user_admin">User Admin</a>
                    </li>
                    <li>
                        <a href="#">Course Admin</a>
                    </li>
                    <li>
                        <a href="/role_admin">Role Admin</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>	



	
    <div class="container"  style="margin-top:80px;">

        <h1>Course List</h1>

        <div class="row" style="margin-bottom:30px;">
                <div class="col-md-8 col-lg-6"></div>
                <div class="col-md-2 col-lg-4">
                    <input type="course_name" id="input_course_name" placeholder="Course Name">
                </div>
                <div class="col-md-2 col-lg-2">
                    <button type="button" class="add_course btn btn-primary">Add Course</button>
                </div>
                    

        </div><!--end for row-->



        <div class="row" style="margin-bottom:80px;">
            <div class="col-md-4"></div>
            <table class="table col-md-4">
                <thead>
                    <tr>
                        <th scope="row">course id</th>
                        <th>course name</th>
                        <th></th>
                    <tr>
                </thead>
                <tbody class="course_list">
                    {% for course in course_list %}
                    <tr class="course_list_record">
                        <td class="c_id">{{ course.id }}</td>
                        <td>{{ course.name }}</td>
                        <td><button type="button" class="delete btn btn-info">x</button></td>
                    </tr>
                    {% endfor %}

					<tr class="new_course">
						<td class="c_id"></td>
						<td class="c_name"></td>
						<td class="delete_btn"></td>
					</tr>

                </tbody>
            </table>
            <div class="col-md-4"></div>
        </div><!--end for row-->



	</div><!--end for container-->


	<script>
		$('.add_course').on('click', function(){
			var course_name = document.getElementById("input_course_name").value;
			console.log('input course_name:  ',course_name);
			if(course_name){
				// course name is not empty
				$.ajax({
						url: '/add_course',
						type:'POST',
						data: {course_name:course_name},
						success:function(response){
							console.log('response: ',response);
							var  result = jQuery.parseJSON(response);
							console.log(result.c_id);
							window.location = '/course_admin';

						},
						error: function(error){
							console.log(error);
						}
				});
				
			}else{
				//course name is emtpy
				console.log('course name is empty');

			}

		 });
		
        $('.delete').on('click', function(){
                var c_id = $(this).parent().parent().children('.c_id').html();
                console.log('c_id  ', c_id);
                $.ajax({
                        url: '/delete_course',
                        type:'POST',
                        data: {c_id:c_id},
                });
                $(this).parent().parent().remove();

        });

        
        $('.course_list_record').on('click', function(){
            var c_id = $(this).children('.c_id').html();
            console.log('c_id', c_id);
            /*
            $.ajax({
                    url: '/course_info',
                    type:'POST',
                    data: {c_id:c_id},
                    success: function(response){
                        //window.location = '/course_info';
                    },
                    error: function(error){
                        console.log('error ', error);   
                    }
            });
            */
            window.location = '/course_info/' + c_id;

        });
        

	
	</script>

</body>
</html>








