<html>

<head>

	<title>Role Admin</title>
    <meta charset="utf-8">


    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    

</head>


<body>
    {% include "nav.html" %}
	
    <div class="container"  style="margin-top:80px;">

        <h1>Role List</h1>

        <div class="row" style="margin-bottom:30px;">
                <div class="col-md-8 col-lg-6"></div>
                <div class="col-md-2 col-lg-4">
                    <input type="role_name" id="input_role_name" placeholder="Role Name">
                </div>
                <div class="col-md-2 col-lg-2">
                    <button type="button" class="add_role btn btn-primary">Add Role</button>
                </div>
                    

        </div><!--end for row-->

        <div class="row" style="margin-bottom:80px;">
            <div class="col-md-4"></div>
            <table class="table col-md-4">
                <thead>
                    <tr>
                        <th scope="row">role id</th>
                        <th>role name</th>
                        <th></th>
                    <tr>
                </thead>
                <tbody class="role_list">
                    {% for role in role_list %}
                    <tr class="role_list_record">
                        <td class="r_id">{{ role.id }}</td>
                        <td>{{ role.name }}</td>
						{% if role.id!=1 and role.id!=2 and role.id!=3 %}
                        <td><button type="button" class="delete btn btn-info">x</button></td>
						{% else %}
						<td></td>
						{% endif %}
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
            <div class="col-md-4"></div>
        </div><!--end for row-->



	</div><!--end for container-->


	<script>
		$('.add_role').on('click', function(){
			var role_name = document.getElementById("input_role_name").value;
			console.log('input role_name:  ',role_name);
			if(role_name){
				// role name is not empty
				$.ajax({
						url: '/add_role',
						type:'POST',
						data: {role_name:role_name},
						success:function(response){
							console.log('response: ',response);
							var  result = jQuery.parseJSON(response);
							console.log(result.r_id);
							window.location = '/role_admin';

						},
						error: function(error){
							console.log(error);
						}
				});
				
			}else{
				//role name is emtpy
				console.log('role name is empty');

			}

		 });
		
        $('.delete').on('click', function(){
                var r_id = $(this).parent().parent().children('.r_id').html();
                console.log('r_id  ', r_id);
                $.ajax({
                        url: '/delete_role',
                        type:'POST',
                        data: {r_id:r_id},
                });
                $(this).parent().parent().remove();

        });

        $('.role_list_record').on('click', function(){
            var r_id = $(this).children('.r_id').html();
            console.log('r_id', r_id);
            $.ajax({
                    url: '/get_role_info',
                    type:'POST',
                    data: {r_id:r_id},
                    success: function(response){
                        window.location = '/role_info';
                    },
                    error: function(error){
                        console.log('error ', error);   
                    }
            });
        });

	
	</script>

</body>
</html>








