<html>

<head>

	<title>User Admin</title>
    <meta charset="utf-8">


    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    

</head>


<body>
	<!--navigation bar-->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">HomePage</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">User Admin</a>
                    </li>
                    <li>
                        <a href="/course_admin">Course Admin</a>
                    </li>
                    <li>
                        <a href="#">Sample Post</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>	



	
    <div class="container"  style="margin-top:80px;">

        <div class="row" style="margin-bottom:30px;">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <input type="username" id="input_username" placeholder="Username">
                </div>
                <div class="col-md-2">
                    <button type="button" class="add_user btn btn-primary">Add User</button>
                </div>
                

        </div>


 
		<div class="row" style="margin-bottom:80px;">
            <div class="col-md-4"></div>
            <table class="table col-md-4">
                <thead>
                    <tr>
                        <th scope="row">user id</th>
                        <th>username</th>
                        <th></th>
                    <tr>
                </thead>
                <tbody>
                    {% for person in people %}
                    <tr class="user_list_record">
                        <td class="u_id">{{ person.id }}</td>
                        <td>{{ person.username }}</td>
                        <td><button type="button" class="delete btn btn-info">x</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-md-4"></div>
        </div>




	</div>


    <script type="text/javascript">

        $('.delete').on('click', function(){
                var u_id = $(this).parent().parent().children('.u_id').html();
                console.log('u_id  ', u_id);
                $.ajax({
                        url: '/delete_user',
                        type:'POST',
                        data: {u_id:u_id},
                });
                $(this).parent().parent().remove();

        });

        $('.add_user').on('click', function(){
            var username = document.getElementById("input_username").value;
            console.log('input username:  ',username);
            $.ajax({
                    url: '/add_user',
                    type:'POST',
                    data: {username:username},
            });


        });
        $('.user_list_record').on('click', function(){
            var u_id = $(this).children('.u_id').html();
            console.log('u_id', u_id);
            $.ajax({
                    url: '/get_user_info',
                    type:'POST',
                    data: {u_id:u_id},
            });
            
            window.location = '/user_info';
            


        });




    </script>

</body>
</html>
