<html>

<head>

	<title>User Admin</title>
    <meta charset="utf-8">

    {% include "resource.html" %} 

</head>


<body>
    {% include "nav.html" %}    

    <div class="container"  style="margin-top:80px;">

        <h2>User List</h2>  
        <div class="row" style="margin-bottom:60px;">
                <div class="col-md-8 col-lg-6"></div>
                <div class="col-md-2 col-lg-4">
                    <input type="username" id="input_username" placeholder="Username">
                </div>
                <div class="col-md-2 col-lg-2">
                    <button type="button" class="add_user btn btn-primary">Add User</button>
                </div>
                

        </div>


 
		<div class="row" style="margin-bottom:100px;">
            <div class="col-md-4"></div>
            <table class="table col-md-4">
                <thead>
                    <tr>
                        <th scope="row">user id</th>
                        <th>username</th>
						<th>permission</th>
                        <th>
							<button style='display:none' class="edit btn btn-success">Edit</button>
						</th>

                    <tr>
                </thead>
                <tbody>
                    {% for person in people %}
                    <tr class="user_list_record"  data-uid="{{person.id}}" data-uname="{{person.username}}">
                        <td class="u_id col-lg-2">{{ person.id }}</td>
                        <td class="u_name col-lg-6">{{ person.username }}</td>
						<td class="col-lg-2">
							<div class="dropdown hidden_flag">
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<span class="permission">
									{% if person.is_superuser %}
										Administrator
									{% else %}
										User
									{% endif %}
								</span>
								<span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#" class="select_permission">User</li>
								<li><a href="#" class="select_permission">Administrator</li>
							  </ul>
							</div>

						</td>
                        <td class="col-lg-2"><button type="button" class="hidden_flag delete btn btn-info">x</button></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-md-4"></div>
        </div>




	</div>


    <script type="text/javascript">


        $('.delete').on('click', function(){
				var target_element = $(this).parent().parent();
                var u_id = $(this).parent().parent().children('.u_id').html();
                console.log('u_id  ', u_id);
                $.ajax({
                        url: '/delete_user',
                        type:'POST',
                        data: {u_id:u_id},
						success: function(){
							target_element.remove();
						},
						error: function(jqXHR, textStatus, errorThrown){
							//alert(jqXHR);
							//alert(textStatus);
							alert(errorThrown);
						}
                });

        });
		
		$('.edit').on('click', function(){
			console.log('click edit');
			$('.user_list_record').find('.dropdown').removeClass('hidden_flag');
			$('.user_list_record').find('.delete').removeClass('hidden_flag');

		});		
		


        $('.add_user').on('click', function(){
            var username = document.getElementById("input_username").value;
            console.log('input username:  ',username);
            $.ajax({
                    url: '/add_user',
                    type:'POST',
                    data: {username:username},
					success: function(response){
						console.log('response ',response);
						window.location = '/user_admin';
					},
					error: function(error){
						console.log('error ', error);
					}
            });


        });

		$('.select_permission').on('click', function(){
				var permission = $(this).html();
				var u_id = $(this).parents('.user_list_record').children('.u_id').html();
				console.log('permission  ', permission );
				console.log('u_id  ', u_id);

				$.ajax({
						url: '/set_permission',
						type: 'POST',
						data: {u_id:u_id, permission:permission},
						success: function(){
							window.location='/user_admin';
						},
						error: function(jqXHR, textStatus, errorThrown){
							alert(errorThrown);
						}

				});


		});	
		

        $('.user_list_record > .u_id, .user_list_record > .u_name').on('click', function(){
            var u_id = $(this).parent().attr('data-uid');
            var u_name = $(this).parent().attr('data-uname');
            console.log('u_id', u_id);
            $.ajax({
                    url: '/get_user_info',
                    type:'POST',
                    data: {u_id:u_id},
					success: function(response){
            			window.location = '/user_info/'+u_name;
					},
					error: function(error){
						console.log('error ', error);	
					}
            });
            
    
        });




    </script>

</body>
</html>
